#main{
	display: flex;
}
#left{
	background-color: black;
	color:white;
	width: 15%;
}
#right{
	background-color: black;
	color:white;
	width: 85%;
	display: flex;
	a{
		color:white;
		text-decoration: none;
		margin:20px auto;
	}
}